* {
  box-sizing: border-box;
}

.college-block {
  background: none;
  transition: background-color 0.4s ease;
  padding: 2rem;
  border: 0.05rem solid #a4a4a4
}

.incorrect-image {
  background-color: #bd4b4b;
}
